
.dressed-octopus {
	position: relative;
}
#octopus {
	display: block;
	margin-left: 38%;
	margin-right: 62%;
	margin-top: 100px;
	position: absolute;
	z-index: -1
}
#hat {
	display: block;
	margin-left: 36%;
	margin-right:62%;
	position: absolute;
}
#glasses {
	display: block;
	margin-left: 42%;
	margin-right: 58%;  
	margin-top: 200px;
	position: absolute;

}